

.container-fluid.container-me.rounded
  = form_with(model: @profile, local: true ) do |f|
    - if @profile.errors.any?
      #error_explanation
        %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
        %ul
          - @profile.errors.full_messages.each do |message|
            %li= message
    .row.rounded.row-color-form2.border-bottom
      .col-8.rounded
        .card.deadpool
          .row.big-row
            .col-6.col-color-form
              .card-body.blue
                .field
                  .card-title.red
                    = f.label "Nombre y Apellido", class: 'letras-fullname'
                  .card-text.text-center
                    = f.text_field :fullname, :required => true, class: 'fullname rounded'
            .col-6
              .card-body
                .field
                  .card-title
                    = f.label "Ocupacion o rol", class: 'letras-occupation'
                  .card-text
                    = f.text_field :occupation, :required => true, :required => true, class: 'occupation rounded'
          .row
            .card-body
              .field.form-group
                .card-title
                  = f.label 'Foto de perfil', class: 'letras-photo'
                .card-text.dro
                  = f.file_field :img_locura, class: 'form-control dropify rounded'
          .row
            .card-body
              .field
                .card-title
                  = f.label "Biografia", class: 'letras-bio'
                .card.bio
                  = sanitize @post
                  = f.hidden_field :biography, :required => true, class: "form-control input", id: :post
                  %trix-editor{ input: :post}
      .col-4.rounded
        .success.rounded
          .row
            .card-body.text-center
              .field
                .card-title
                  = f.label "Monto de un cafe", class: 'letras-cafe'
                .card-text
                  = f.number_field :amount, :required => true, :step => '0.1', class: 'cafe rounded'
          .row
            .card-body.text-center
              .field
                .card-title
                  = f.label "Simbolo de la moneda", class: 'letras-moneda'
                .card-text
                  = f.text_field :coin, class: 'simbolo rounded'
          .row
            .card-body.text-center
              .field
                .card-title
                  = f.label "Multiplicador", class: 'letras-mul'
                .col
                  .row
                    .col
                      .card-text.text-center
                        = f.number_field :multiplier1, :required => true, :pattern => "[1-50]{2}", class: 'locura letras-super text-center mul1'
                        = f.number_field :multiplier2, :required => true, :pattern => "[1-50]{2}", :size => "1", class: 'locura letras-super text-center mul2'
                        = f.number_field :multiplier3, :required => true, :pattern => "[1-50]{2}", :size => "1", class: 'locura letras-super text-center mul3'
                        = f.number_field :multiplier4, :required => true, :pattern => "[1-50]{2}", :size => "1", class: 'locura letras-super text-center mul4'
          .row
            .card-text.center
              = image_tag 'coffees.svg', class: 'coffee'
    .actions
      = f.submit 'Guardar', class: ' btn btn-primary'






