
-# = form_for @profile do |f|
-#   - if @profile.errors.any?
-#     #error_explanation
-#       %h2= "#{pluralize(@profile.errors.count, "error")} prohibited this profile from being saved:"
-#       %ul
-#         - @profile.errors.full_messages.each do |message|
-#           %li= message
-#   .field
-#     = f.label :name
-#     = f.text_field :fullname, :required => true





-# .container-fluid
-#   .row.row1
-#     .col-2.ayc-background-color.text-center
-#       = link_to edit_profile_path do
-#         #{image_tag('A&C.svg', class: "AyC")}
-#     .col-8.background-searh-photo.text-center
-#       %input.mySearch.rounded.vcenter{:placeholder => "", :type => "search"}/
-#     .col.col-linea
-#       .linea.margin-righ
-#   .row.profile-edit
-#     .col-2.menu.border-right
-#       %nav.nav.flex-column.big-nav
-#         %nav.nav.nav-nav
-#           = link_to edit_profile_path do
-#             #{image_tag('profile.svg', class: "menu-img-profile")}
-#           %a.nav-link{:href => "#"}
-#             %p.letras Perfil

-#         %nav.nav.nav-nav
-#           = link_to edit_profile_path do
-#             #{image_tag('profile.svg', class: "menu-img-profile")}
-#           %a.nav-link{:href => "#"}
-#             %p.letras Imagenes

-#         %nav.nav.nav-nav
-#           = link_to edit_profile_path do
-#             #{image_tag('cuentas.svg', class: "menu-img-profile")}
-#           %a.nav-link{:href => "#"}
-#             %p.letras Cuentas
-#     .col-10.profile
-#       .row
    -# .col.edit-profile
%h1
  Hola
  -# .row.row1-profile
  -#   .col.form-profile.text-center
  -#     %label(for="fullname") Nombre y Apellido
  -#     %input.input-fullname.rounded{:type => "text", :placeholder => "fullname"}/
  -#     %input.input-fullname.rounded{:type => "text", :placeholder => "occupation or rol"}/
  -#     .row
     -# %input.trix :body, as: :trix_editor

        -# .col.form-coffe

      -# .row.baby-row
      -#   .col.color







  -#   .col.text-right
  -# .row.text-center
  -#   .col
  -#     = image_tag 'coffees.svg', class: 'img-coffees'
  -# .row.text-center
  -#   .col
  -#     %pre.big-text
  -#       :preserve
  -#         Un cafe es un abrazo
  -#         atrapado en una taza
  -# .row.text-center
  -#   .col
  -#     %pre.litle-text
  -#       :preserve
  -#         Recibe aprecio y gratitud
  -#         mediante donaciones online
  -# .row.text-center
  -#   .col
  -#     = link_to new_user_registration_path do
  -#       #{image_tag('button.svg', class: "img-crear-perfil")}
  -# .row.text-center
  -#   .col
  -#     -if current_user
  -#       = link_to 'Sign out', destroy_user_session_path, method: :delete
