!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title App
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://fonts.googleapis.com/css?family=Happy+Monkey", :rel => "stylesheet"}/

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/


  %body
  .container-fluid
    .row.arrab
      .col-2.co.d-flex.justify-content-end.align-items-center
        = image_tag @profile.img_locura, class: 'acilbup'

