
.container-fluid
  .row.bga
    .col
      = link_to root_path do
        #{image_tag('logo_temp.svg', class: "img-AyC")}
    .col.text-right
      = link_to new_user_session_path do
        #{image_tag('login_button.svg', class: "img-login")}

.container-fluid
  .row
    .col.empty
  .row.small.text-center.border.border-danger.rounded-circle
    .col
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "Sign up"
      = render "devise/shared/links"
