.container-fluid
  = form_with(model: [@profile, @carousel], local: true ) do |f|
    - if current_user.profile.errors.any?
      #error_explanation
        %h2= "#{pluralize(current_user.profile.errors.count, "error")} prohibited this profile from being saved:"
        %ul
          - current_user.profile.full_messages.each do |message|
            %li= message
    .row
      .col-4.alargando
        .ala
          .card-title
            %h1.eltit-atneuc Imagen del carousel
          .card-text
            %pre.txet-atneuc
              :preserve
                Parametros de publicacion y leyenda de
                la imagen a mostrarse en el carousel
      .col-8.alargando
        .card-body.re
          = f.file_field :img, class: 'dropify rounded yfipord'
          %p.yess Imagen principal
          = link_to = f.label :img do
            %p.knil Cargar imagen
    .row
      .col
        .row
          .col-4.alargando
            .ven.ala
              .card-title
                %h1.eltit-atneuc Datos de la imagen
              .card-text
                %pre.txet-atneuc
                  :preserve
                    Agregar imagen que se mostrara en el
                    carousel del perfil publico
          .col-8.alargando
            .card-body.text-center.fondo.rounded
              .field
                .card-title
                  = f.label "Subtitulo", class: 'satrel mover'
                .card-text
                  = f.text_field :subtitle, class: 'rounded tamano'
        .row
          .jojo.border-top
            .actions
              = f.submit 'Guardar', class: ' btn ntb xs'
