.row.row-color
  = link_to profile_carousels_path(current_user.profile.id) do
    #{image_tag('back.svg', class: 'lista-de-imagenes')}
  %h1.letras-title.border-bottom Agregar imagen
.row.row-color-form
  .col
    = render 'form'
