.row.row-color
  %h1.letras-title.border-bottom Carousel de imagenes
  = link_to new_profile_carousel_path(current_user.profile.id) do
    #{image_tag('Button_guardar.svg', class: 'button_guardar text-right')}
.row.row-color-form
  .col
    .row.siza
      .col.card.rounded
        .row.w.border-bottom.text-center
          %h5.senegami_text Imagenes
        .row.wa.border-bottom
        - @carousels.each do |carouselito|
          .row.w.border-bottom
            .col-1.text-center
              = image_tag carouselito.img, class: 'img_caro'
            .col-10
              %P.omitlu
              = carouselito.subtitle
            .col-1
              .trespuntoss.text-center
                = image_tag 'Vector.svg', class: 'vectora'
                .edit_delete.border
                  .edit_container
                    = link_to('Edit', "/profiles/#{@profile.id}/carousels/#{carouselito.id}/edit", class: "Edit")
                  .delete_container
                    = link_to('Delete', "/profiles/#{@profile.id}/carousels/#{carouselito.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "Delete")

