-# -if current_user
-#   = link_to 'Sign out', destroy_user_session_path, method: :delete
-# -else
-#    = link_to 'Sign in', new_user_session_path
-#    = link_to 'Sign up', new_user_registration_path



-# .container-fluid
-#   .row.head.text-center
-#     .col
-#       .login
-#         = link_to 'Login', new_user_registration_path
-#       .cofe-img
-#         = link_to root_path do
-#           #{image_tag('logo_temp.svg', height: "100", width:"120", class: "")}
-#   .row.text-center
-#     .crear-perfil
-#       = link_to new_user_registration_path do
-#         #{image_tag('button.svg', height: "100", width:"120", class: "")}
-#     %p.big-text dlkjdfzgjkbfsdkjh;dsgjbsdfihylb


.container-fluid
  .row.bga
    .col
      = link_to root_path do
        #{image_tag('logo_temp.svg', class: "img-AyC")}
    .col.text-right
      = link_to new_user_session_path do
        #{image_tag('login_button.svg', class: "img-login")}
  .row.text-center
    .col
      = image_tag 'coffees.svg', class: 'img-coffees'
  .row.text-center
    .col
      %pre.big-text
        :preserve
          Un cafe es un abrazo
          atrapado en una taza
  .row.text-center
    .col
      %pre.litle-text
        :preserve
          Recibe aprecio y gratitud
          mediante donaciones online
  .row.text-center
    .col
      = link_to new_user_registration_path do
        #{image_tag('button.svg', class: "img-crear-perfil")}
  .row.text-center
    .col
      -if current_user
        = link_to 'Sign out', destroy_user_session_path, method: :delete


