.trespuntos {
  padding-top: 4px;
  padding-right: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}


.vector {
  width: 20px;
  height: 14px;
}

.edit_delete {
  display: none;
  width: 50px;
  height: 21px;
}


.vector:hover+.edit_delete {
  display: block;
  position: absolute;
  width: 50px;
  height: 21px;
}

.edit_delete:hover {
  display: block;
  position: absolute
}


.delete_container {
  background-color: white;
}
.delete_container:hover {
  background-color: rgba(196, 196, 196, 0.2)
}



.Delete {
  color: black
}


.Edit {
  color: black
}

.edit_container {
  background-color: white;
}
.edit_container:hover {
  background-color: rgba(196, 196, 196, 0.2)
}

// aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

.vectora {
    width: 39px;
    height: 19px;
}

.vectora:hover+.edit_delete {
  display: block;
  position: absolute;
}


.trespuntoss {
  padding-top: 4px;
  padding-right: 4px;
  padding-right: 4px;
  padding-bottom: 8px;

}


// aaaaaaaaaaaaaaaaaaaaaaaaaaaa


.vectorial:hover+.edit_delete {
display: block;
position: absolute;
}

.vectorial {
  width: 30px;
  height: 10px;
}


.trespuntosss {
  padding-top: 4px;
  padding-right: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  margin-top: -42px;
  margin-left: 122px;
}
