// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wor-morf {
  // background-color: rgb(163, 4, 163);
  // height: 400px;
  .loc-adan {
    // background-color: rgba(255, 0, 0, 0.555);
    // height: 200px;
  };
  .loc-morf {
    // background-color: blue;
    // height: 200px;
  };
}



.wor-stnuocca {
  // background-color: grey;
  // height: 400px;
}

.txet-atneuc {
  font-family: Roboto;
  font-size: 23px;
  color: rgba(128, 128, 128, 0.698);
  margin-top: 29px;
}

.eltit-atneuc {
  font-family: Roboto;
  font-size: 35px;
  color:black
}

.ecaps {
  margin-top: 20px
}

.satrel {
  font-family: Roboto;
  font-size: 23px;
  color: rgb(80, 80, 80);
}


.knab_eman {
  width: 1000px;
  height: 50px;
}

reniatnoc {
}

.kclab {
  margin-left: 65px;
}

.ntb {
  background-color: #EE4380;
  margin-left: 987px;
  margin-top: 13px;
  width: 100px;
  height: 40px;
  color: white;
  margin-bottom: 55px;
}

.eltit-atneuc-odatsil {
  font-family: Roboto;
  font-size: 35px;
  color:black
}

.txet-atneuc-odatsil {
  font-family: Roboto;
  font-size: 23px;
  color: rgba(128, 128, 128, 0.698);
  margin-top: 29px;
}

.lol {
  margin-top: 60px;
}

.nigram {
  margin-top: 60px
}

.ko {
  // padding-top: 60px
  margin-top: 60px
}

.finalizando {
  margin-top: 60px;
}

.ht {
  width: 40px
}


.ahcnac {
  margin-bottom: 100px
}


.odneirbah {
  padding-left: 12px;
  padding-right: 12px
}
