.AyC {
  background-color: #EE4380;
  width: 73px;
  height: 36px;
  margin-top: 10px;
}

.ayc-background-color {
  background-color: #EE4380
}

.mySearch {
  height: 38px;
  width: 1181px;
  background-color: #F67DA8;
  margin-top: 9px
}


.row1 {
  height: 56px;
}


.background-searh-photo {
  background-color: #EA5F91
}

.col-linea {
  background-color: #EA5F91;
  .linea {
    width: 3px;
    background-color: #EE4380;
    height: 56px;
    margin-left: -15px;
  }
}

.menu {
  // height: 950px;
  background-color: #F4F6F8
}


.letras {
  font-family: Roboto;
  font-size: 21px;
  height: 17px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-top: 5px;
  color: #212B35
}

.letras1 {
  font-family: Roboto;
  font-size: 21px;
  height: 17px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-top: 3px;
  color: #212B35
}


.menu-img-profile {
  width: 30px;
  height: 25px;
  margin-top: 10px;
}



.nav-nav {
  margin-top: 10px;
  margin-left: 14px;
}

.nav-nav2 {
  margin-top: 5px;
  margin-left: 14px;
}



.pintando {
  background-color:#EA5F91;
  align-items: center
}

.loco {
  border-color: #212B35;
  width: 200px;
  height: 40px;
  background-color: aquamarine
}


.photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-top: 5px;
  margin-left: -8px;
}


.blue-loco {
  background-color: #EA5F91
}




.camarada {
  font-size: 20px;
  margin-top: 10px;
  color: #FFFFFF;
  font-family: Roboto
}

