.arrab {
  background-color: #ffffff;
  display: flex;
  height: 150px;
  border: 2px solid red
}
// .co {
//   background-color: bisque
// }
// .edrob_asor {
//   width: 130px;
//   height: 130px;
//   border-radius: 50%;
//   border: 2px solid #EE4380;
//   margin-right: -13px

// }

.acilbup {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border:3px solid #EE4380;
  margin-right: -14px;
}
