// Place all the styles related to the carousels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lista-de-imagenes {
  margin-top: 26px;
  margin-left: 43px;
  position: absolute
}



.alargando {
  margin-top: 50px
}


.mover {
  margin-left: -705px
}

// .fondo {
//   background-color: white;
//   border: 1px solid rgb(206, 212, 218);
//   width: 900px;
//   margin-left: 10px
// }


.tamano {
  width: 800px;
  height: 50px;
}

.fondo {
  background-color: white;
  border: 1px solid #ced4da;
  width: 917px;
  margin-left: 40px;
}


// .re {
//   width: 917px;
//   margin-left: 40px;

// }

.yfipord {
  display: flex;
  height: 100%;
  margin-left: 50px;
  align-items: center;
  align-content: center;
  vertical-align: 100px
}

.jojo {
  width: 1611px;
  height: 10px;
  margin-left: 31px;
  margin-top: 20px;
}

.xs {
  margin-left: 1422px;
  margin-top: 53px;
}

.ala {
  margin-left: 21px;
}
// .yess {
//   position: relative;
//   margin-top: -40px
// }

.yess {
  position: absolute;
  margin-top: 25px;
  margin-left: 42px;
  font-family: roboto;
  font-size: 20px
}

.re {
  display: flex;
  width: 960px;
  margin-left: 17px;
  height: 345px;
  padding-top: 0px;
  padding-bottom: 0px
}

.knil {
  color: #008EDB;
  position: absolute;
  margin-top: 80px;
  margin-left: -190px;
  font-family: roboto;
  font-size: 20px;
}

// aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa


.button_guardar {
  margin-left: 1496px;
  margin-top: -183px;
  width: 153px;
}





.siza {
  width: 93%;
  margin-left: 32px;
}

.wa {
  height: 40px;
}
.w {
  height: 100px;
}

.senegami_text {
  color: #212B36;
  border-bottom: 4px solid #EE4380;
  margin-left: 30px;
  margin-bottom: 0px;
  margin-top: 24px;
}

.img_caro {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: aliceblue;
  margin-top: 5px;
  // margin-left: -8px;
}


.omitlu {
  font-size: 15px;
  margin-top: 1px;
  margin-left: 1px
}
