// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .head {
//   background-color: blue
// }

// .container-fluid {
//   background-color: yellow
// }

// .crear-perfil {
//   float: right;
//   background-color: red
// }



// .login {
//   background-color: aqua;
//   width: 500px;
// }

.big-text {
font-family: Happy Monkey;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 77px;
text-align: center;
color: #363636;
margin-top: 6rem

}

.litle-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 53px;
  text-align: center;
  margin-top: 8rem;
  color: #8F8F8F;
}


.img-login {
  margin-right: 50px;
  width: 175px;
  height: 185px;
  margin-top: 2px;
}

.img-AyC {
  margin-left: 50px;
  width: 120px;
  height: 160px;
}

.bga {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 153px;

}

.img-coffees {
  height: 567px;
  width: 501px;
  margin-top: 5rem
}

.alert {
    position: absolute;
}

.img-crear-perfil {
  margin-top: 9rem;
  width: 440px;
  height: 120px;
}
