!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title App
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://fonts.googleapis.com/css?family=Happy+Monkey", :rel => "stylesheet"}/

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/


  %body
    %p.notice
      =notice
    %p.alert
      =alert

      = yield
