!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title App
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://fonts.googleapis.com/css?family=Happy+Monkey", :rel => "stylesheet"}/

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto", :rel => "stylesheet"}/


  %body
  .container-fluid
    .row.row1
      .col-2.ayc-background-color.text-center
        = link_to edit_profile_path(current_user.profile) do
          #{image_tag('A&C.svg', class: "AyC")}
      .col-8.background-searh-photo.text-center
        %input.mySearch.rounded.vcenter{:placeholder => "", :type => "search"}/
      .col-2
        .row
          .col-1.col-linea
            .linea.margin-righ
          .col-2.pintando
            .card-img.div-photo
              = image_tag current_user.profile.img_locura, class: 'photo'
          .col.blue-loco
            .card-text.camarada
              - if current_user.profile.fullname.nil?
                = current_user.email
              - else
                = current_user.profile.fullname
    .row.profile-edit
      .col-2.menu.border-right
        %nav.nav.flex-column.big-nav
          %nav.nav.nav-nav
            = link_to edit_profile_path(current_user.profile) do
              #{image_tag('perfil.svg', class: "menu-img-profile")}
            %a.nav-link{:href => edit_profile_path(current_user.profile)}
              %p.letras Perfil

          %nav.nav.nav-nav2
            = link_to  profile_carousels_path(current_user.profile) do
              #{image_tag('perfil.svg', class: "menu-img-profile")}
            %a.nav-link{:href => profile_carousels_path(current_user.profile)}
              %p.letras Imagenes

          %nav.nav.nav-nav2
            = link_to profile_accounts_path(current_user.profile) do
              #{image_tag('cuentas.svg', class: "menu-img-profile")}
            %a.nav-link{:href => profile_accounts_path(current_user.profile)}
              %p.letras1 Cuentas
      .col-10
        =yield
