.container-fluid.ahcnac
  = form_with(model: [@profile, @account], local: true ) do |f|
    - if current_user.profile.errors.any?
      #error_explanation
        %h2= "#{pluralize(current_user.profile.errors.count, "error")} prohibited this profile from being saved:"
        %ul
          - current_user.profile.full_messages.each do |message|
            %li= message
    .row.wor-morf
      .col-4.loc-adan
        .ecaps
          .card-title
            %h1.eltit-atneuc Agregar cuentas bancarias
          .card-text
            %pre.txet-atneuc
              :preserve
                Puedes agregar varias cuentas bancarias asociadas
                a tu compañía y permitir a tus clientes recibir los
                datos necesarios para realizar sus pagos
      .col-8.loc-morf
        .card.ecaps
          .row.kclab
            .card-body
              .field
                .card-title
                  = f.label "Banco", class: 'satrel'
                .card-text
                  = f.text_field :bank_name, class: 'knab_eman rounded'
          .row.kclab
            .card-body
              .field
                .card-title
                  = f.label "Numero de cuenta", class: 'satrel'
                .card-text
                  = f.text_field :account_number, class: 'knab_eman rounded'
          .row.kclab
            .card-body
              .field
                .card-title
                  = f.label "Tiular de la cuenta", class: 'satrel'
                .card-text
                  = f.text_field :name, class: 'knab_eman rounded'
          .row.kclab
            .card-body
              .field
                .card-title
                  = f.label "Identificacion", class: 'satrel'
                .card-text
                  = f.text_field :identificacion, class: 'knab_eman rounded'
          .row.kclab
            .card-body
              .field
                .card-title
                  = f.label "Tipo de cuenta", class: 'satrel'
                .card-text
                  = f.text_field :email, class: 'knab_eman rounded'
          .row.kclab
            .card-body
              .field
                .card-title
                  = f.label "Correo electronico", class: 'satrel'
                .card-text
                  = f.text_field :email, class: 'knab_eman rounded'
          .actions
            = f.submit 'Guardar', class: ' btn ntb'
            -# - if current_page?(profile_accounts_path(@profile))
            -#   = f.submit 'Guardar', class: ' btn ntb'
            -# - else
            -#   = f.submit 'Guardar', action: => {'update'}, class: ' btn ntb'
    .row.wor-stnuocca.ahcnac
      .col-4.loc-adan
        .ecaps.border-top.lol
          .card-title.nigram
            %h1.eltit-atneuc-odatsil Cuentas bacarias
          .card-text
            %pre.txet-atneuc-odatsil
              :preserve
                Listado de cuentas bancarias asociadas a la
                compania
      .col-8.loc-morf
        .finalizando.border-top.los
          .card.ko
            .row.kclab
              .card-body
                %table
                  %thead
                    %tr
                      %th.border-bottom.odneirbah Banco
                      %th.border-bottom.odneirbah Numero de cuenta
                      %th.border-bottom.odneirbah Titular de la cuenta
                      %th.border-bottom.odneirbah Identificacion
                      %th.border-bottom.odneirbah Tipo de cuenta
                      %th.border-bottom.odneirbah Correo electronico
                      %th.border-bottom.odneirbah
                  %tbody
                    - if @accounts.nil?
                      %h2 Aun no hay cuentas bancarias
                    - else
                      - @accounts.each do |account|
                        %tr
                          %td= account.bank_name
                          %td= account.account_number
                          %td= account.name
                          %td= account.identificacion
                          %td= account.email
                          %td=account.email
                          %td
                            .trespuntos.text-center
                              = image_tag 'Vector.svg', class: 'vector'
                              .edit_delete.border
                                .edit_container
                                  = link_to('Edit', "/profiles/#{@profile.id}/accounts/#{account.id}", class: "Edit")
                                .delete_container
                                  = link_to('Delete', "/profiles/#{@profile.id}/accounts/#{account.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "Delete")



















                          -# "/profiles/#{@profile.id}/accounts/#{account.id}"


